@import 'variables';
@import 'mixins';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* page style reset */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  @include anscestor;
}

/* chart style */
.candle-control {
  position: absolute;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;

  label {
    position: absolute;
    top: -20px;
    left: 0;
    color: $primary-text-color;
    font-weight: bold;
  }

  button {
    margin-left: 5px;
    padding: 0 5px;
  }
}

.chart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 960px;
  height: 500px;

  text {
    fill: $primary-text-color;
  }

  line {
    stroke: $primary-text-color;
  }

  path {
    stroke: $primary-text-color;

    &.candle {
      stroke: $primary-text-color;
    }

    &.body {
      stroke-width: 0;
    }

    &.up {
      fill: $color-candle-up;
      stroke: $color-candle-up;
    }

    &.down {
      fill: $color-candle-down;
      stroke: $color-candle-down;
    }
  }

  rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
}
